# import funcitons
importFrom(tidyr, gather)
importFrom(tidyr, spread)

importFrom(tibble, rownames_to_column)
importFrom(tibble, column_to_rownames)
importFrom(tibble, remove_rownames)
importFrom(tibble, as.tibble)

importFrom(data.table, as.data.table)
importFrom(data.table, data.table)

importFrom(magrittr,`%>%`)
importFrom(ggpubr, stat_compare_means)
importFrom(sampling, strata)

importFrom(patternplot, patternboxplot)
importFrom(patternplot, patternpie)
importFrom(patternplot, patternbar)

importFrom(UpSetR, upset)
importFrom(UpSetR, histogram)
importFrom(UpSetR, scatter_plot)
importFrom(UpSetR, intersects)
importFrom(VennDiagram, venn.diagram)
importFrom(ggthemes, theme_wsj)
importFrom(ggthemes, scale_fill_wsj)
importFrom(corrplot, corrplot)
importFrom(Hmisc, rcorr)
importFrom(plyr, ddply)
importFrom(plotrix, pie3D)

importFrom(varhandle, unfactor)
importFrom(PMCMR, posthoc.durbin.test)
importFrom("stats", "TukeyHSD", "aov", "binomial", "cor",
             "friedman.test", "glm", "kruskal.test", "lm", "median",
             "na.omit", "p.adjust", "qnorm", "rnorm", "sd", "setNames",
             "t.test", "wilcox.test")
importFrom("utils", "read.csv", "unstack")

# import packages
import(ggplot2)
import(dplyr)
import(circlize)
import(patchwork)
import(vegan)

# import functions edited by author in a hand manner
export(scatterplot1)
export(bar1)
export(bar2)
export(boxplot1)
export(boxplot2)
export(heat1)
export(histogram1)
export(corrplot1)
export(linechart1)
export(area1)
export(venn1)
export(venn2)
export(pie1)
export(volcano1)
export(theme_box)
export(circos1)

# statistics
## functions
export(Correlation_matrix)
## nonparamteric test
export(wilcox_rank)
export(wilcox_sign)
export(kruskal_test)
export(friedman_test)
## parameteric test
export(ANOVA_one)
export(ANOVA_two)
export(paired_ttest)
export(unpaired_ttest)
export(pca_scatterplot)
export(geom_enterotype)
export(PERMANOVA)
